body {
  font-family: "Lucida Grande", Sans-Serif;
  background: black;
  color: white;
}

      h1{
        font-size: 64px;
        text-align: center;
        padding: 10px;
      }
      h2{
        
        font-size: 32px;
        text-shadow: 4px 4px 2px black;
      }
      p{
        font-size: 16px;
        padding-top: 15px;
      }
      a{
        /* make your links red and italics */
        
      }
      a:hover, a:focus{
        
      }
     
      ul{
        /* make bullet points red squares */
         color: red;
         list-style: square;
      }
      li{
        /* make bullet points red squares */
         color: red;
         list-style: square;
      }
      img{
        width: 550px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
      }
      div{
        min-height: 100px !important;
        padding-top: 30px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
      }
      footer{
        text-align: center;
        padding-bottom: 15px;
        background: black;
        color: white;
      }

      #red{
        background-color: red; !important;
        text-align: right;
      }
      #blue{
        background-color: blue; !important;
        text-align: left;
      }
      #yellow {
        background-color: yellow; !important;
        text-align: right;
        font-size: 32px;
        
        color: black;
      }
      #yellow h2 {
        text-shadow: 4px 4px 2px grey;
        
      }
      #green{
        background-color: green; !important;
        text-align: left;
      }
      